<div class="detail-movie bg-light p-4 rounded-2 mt-4">
    <div class="row">
        <div class="col-3">
            <img
                src="{{details.img}}"
                alt="{{details.id}}"
                class="w-100"
            />
        </div>
        <div class="col-9">
            <p><b>Name:</b> {{details.title}}</p>
            <p><b>year:</b> {{details.year}}</p>
            <p><b>Top Rank:</b> {{details.topRank}}</p>
            <p><b>Rating:</b> {{details.rating}}</p>
            <p><b>Rating Count:</b> {{details.ratingCount}}</p>
            <p><b>Genres:</b> {{details.genres}}</p>
            <div class="mt-3">
                <button class="btn btn-primary btn-add-favorite" data-id="{{details.id}}">Add to favorite</button>
            </div>
        </div>
    </div>

    <div class="mt-3">
        <h5 class="mb-5">Reviews of movie</h5>
        <div class="row">
            {{#each reviews}}
            <div class="col col-sm-6 col-lg-4 col-xl-3 mb-3">
                <div class="card" style="width: 18rem; height: 16rem; overflow-y: auto;">
                    <div class="card-body p-3">
                        <h5 class="card-title">{{this.reviewtitle}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Author: {{this.author}}</h6>
                        <p class="card-text">{{this.reviewtext}}</p>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <nav>
            <ul class="pagination pagination-md">
                {{#each links}}
                    {{#if (isActive this.page this.active)}}
                        <li class="page-item active"><a class="page-link" href="{{this.href}}">{{this.page}}</a></li>
                    {{else}}
                        <li class="page-item"><a class="page-link" href="{{this.href}}">{{this.page}}</a></li>
                    {{/if}}
                {{/each}}
            </ul>
        </nav>
    </div>
    <div class="mt-3">
        <h5 class="mb-5">Casts of movie</h5>
        <div class="row">
            {{#each casts}}
            <div class="col col-sm-4 col-lg-3 col-xl-2 mb-3">
                <div class="card" style="width: 12rem;">
                    <img src="{{this.image}}" class="card-img-top" alt="{{this.id}}">
                    <div class="card-body text-center">
                        <p class="card-text m-0 mb-3"><b>{{this.name}}</b></p>
                        <a href="/actor/{{this.id}}" class="btn btn-primary" style="width: 8rem;">Show Detail</a>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>

<script>
    $('.btn-add-favorite').click((e) => {
        const id = e.target.getAttribute('data-id')
        console.log(id)
        $.ajax({
            url: 'http://localhost:20619/me/add',
            method: "POST",
            data: { id }
        }).then(res => {
            if(!res.success){
                alert(res.message)
            }else{
                window.location.replace('http://localhost:20619/me/stored')
            }
        }).fail((err) => {
            console.log(err)
        })
    })

    $('.page-item .page-link').click(function(e) {
        e.preventDefault()
        $('.page-item.active').removeClass('active');

        var $parent = $(this).parent();
        $parent.addClass('active');

        var $this = $(this)
        
        var href = $this.attr('href')
        $.ajax({
            url: `http://localhost:20619${href}`,
            method: 'GET'
        }).then((rs) => {
            window.location.replace(`http://localhost:20619${href}`)
        })
    });
</script>